<div class="grid">
  <div class="sm:col-12 col-12">
    <div class="flex">
      <div class="sm:col-6 col-12">
        <img src="images/logout.jpg" alt="login">
      </div>
      <div class="sm:col-6 col-12">
        <div class="title">
          <h1 class="fw-semibold">
            Logout to Time-tracker
          </h1>
        </div>
        <div class="sm:col-6 col-3">
          <p-toast />
          <p-button label="Logout" routerLink="/" class="w-full" pRipple (click)="logout()" icon="pi pi-sign-in" />
        </div>
      </div>
    </div>
  </div>
</div>
