<app-navbar />
<p-card class="p-card-body">
  <div class="p-card-content">
    <div class="mb-4 mt-4" style="position: relative; width: 100%;">
      <p-progressBar [showValue]="false" [value]="sharedProgress">
      </p-progressBar>
      <span
        style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-weight: bold; text-align: center;">
        {{ formatTime(totalElapsedTime) }}</span>
    </div>
    <div class="grid mb-3">
      <!-- <div class="col-3" [style]="{'display':'flex' ,'gap':'10px'}">
        <p-datepicker [(ngModel)]="dates" [maxDate]="maxDate" [disabled]="isDateDisabled" (onSelect)="onDateChange()"
          appendTo="body" />
        <p-button (click)="toggleDateField()" tooltipPosition="top" [pTooltip]="isDateDisabled?'Unlock to':'Lock to'">
          {{ isDateDisabled ? 'Yes' : 'No' }}
        </p-button>
      </div> -->
    </div>
    <p-table [value]="taskss" showGridlines dataKey="id">
      <ng-template #header>
        <tr>
          <th width="10%" style="text-align: center;">
            Delete
          </th>
          <th width="10%" style="text-align: center;">
            Clone
          </th>
          <th width="10%" style="text-align: center;">
            Date
          </th>
          <th width="10%" style="text-align: center;">
            Select Clients
          </th>
          <th width="10%" style="text-align: center;">
            Select Projects
          </th>
          <th width="10%" style="text-align: center;">
            Select tasks
          </th>
          <th width="10%" style="text-align: center;">
            Start Time
          </th>
          <th width="10%" style="text-align: center;">
            End Time
          </th>
          <th width="10%" style="text-align: center;">
            Total Time
          </th>
          <th width="10%" style="text-align: center;">
            Description
          </th>
        </tr>
      </ng-template>
      <ng-template #body let-data let-editing="editing">
        <tr>
          <td style="text-align: center;">
            <p-toast />
            <p-button (click)="deleteRow(data)" [style]="{'background':'red','border-color':'red'}"
              icon="pi pi-trash" />
          </td>
          <td style="text-align: center;">
            <p-toast />
            <p-button (click)="cloneData(data)" icon="pi pi-clone" />
          </td>
          <td style="text-align: center;">
            <p-datepicker [(ngModel)]="data.dates" [maxDate]="maxDate"
              (onSelect)="onDateChange()" appendTo="body" />
          </td>
          <td style="text-align: center;" [pEditableColumn]="data.c_name" pEditableColumnField="c_name">
            <p-cellEditor>
              <ng-template #input>
                <p-select [options]="clients" [fluid]="true" [filter]="true" [resetFilterOnHide]="true"
                  [checkmark]="true" [(ngModel)]="data.selectedClients" appendTo="body" optionLabel="c_name"
                  (onChange)="getProjects(data)" placeholder="Select Clients" styleClass="w-full md:w-100" />
              </ng-template>
              <ng-template #output>
                {{data?.selectedClients?.c_name}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="text-align: center;" [pEditableColumn]="data.p_name" pEditableColumnField="p_name">
            <p-cellEditor>
              <ng-template #input>
                <p-select [options]="data.projects" [fluid]="true" [filter]="true" [resetFilterOnHide]="true"
                  [checkmark]="true" [(ngModel)]="data.selectedprojects" appendTo="body" optionLabel="p_name"
                  (onChange)="getTasks(data)" placeholder="Select Projects" styleClass="w-full md:w-100" />
              </ng-template>
              <ng-template #output>
                {{data?.selectedprojects?.p_name}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="text-align: center;" [pEditableColumn]="data.t_name" pEditableColumnField="t_name">
            <p-cellEditor>
              <ng-template #input>
                <p-select [options]="data.tasks" [filter]="true" [checkmark]="true" [resetFilterOnHide]="true"
                  [(ngModel)]="data.selectedtasks" appendTo="body" optionLabel="t_name" (onChange)="getTaskName($event)"
                  placeholder="Select tasks" />
              </ng-template>
              <ng-template #output>
                {{data?.selectedtasks?.t_name}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="text-align: center;" [pEditableColumn]="data.start_time" pEditableColumnField="start_time">
            <p-cellEditor>
              <ng-template #input>
                <p-datepicker [(ngModel)]="data.start_time" appendTo="body" [timeOnly]="true" [showSeconds]="true"
                  [hourFormat]="'24'" (ngModelChange)="calculateTotalTime(data,$event)" [showTime]="true" />
              </ng-template>
              <ng-template #output>
                {{data?.start_time | date:'HH:mm:ss'}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="text-align: center;" [pEditableColumn]="data.end_time" pEditableColumnField="end_time">
            <p-cellEditor>
              <ng-template #input>
                <p-datepicker [(ngModel)]="data.end_time" appendTo="body" [timeOnly]="true" [showSeconds]="true"
                  [hourFormat]="'24'" (ngModelChange)="calculateTotalTime(data,$event)" [showTime]="true" />
              </ng-template>
              <ng-template #output>
                {{data?.end_time | date:'HH:mm:ss'}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="text-align: center;">
            {{data?.totalTime}}
          </td>
          <td style="text-align: center;" [pEditableColumn]="data.description" pEditableColumnField="description">
            <p-cellEditor>
              <ng-template #input>
                <input pInputText [(ngModel)]="data.description" />
              </ng-template>
              <ng-template #output>
                {{data?.description}}
              </ng-template>
            </p-cellEditor>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="mt-3" style="justify-content: flex-end; display: flex; gap: 5px;">
    <p-button (click)="addRow()" label="Add rows" icon="pi pi-plus" />
    <p-button (click)="save()" [style]="{'background':'green', 'border-color':'green'}" label="save"
      icon="pi pi-save" />
  </div>
</p-card>
