img{
  margin: {
    top: 100px;
    left: 200px
  };
  border-radius: 24px;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width:412px) {
  img{
    margin: {
      top: 450px;
      left: 325px
    };
  }
}

